@import "tailwindcss";

/* Lenis smooth scroll styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}



:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

/* Default body font based on locale */
html[lang="en"] body {
  font-family: 'GoogleSans', 'manrope', sans-serif;
}

html[lang="mn"] body {
  font-family: 'GoogleSans', 'manrope', sans-serif;
}

/* Scroll bars */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  /* border-radius: 3px; */
}

::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* Selection styles */
::selection {
  background: rgba(219, 219, 219, 0.5);
}